.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;

	display: grid;
	/* grid-template-rows: 100px 1fr 20px; */
	align-items: center;
	/* justify-items: center; */
	/* min-height: 100svh; */
	/* padding: 80px; */
	/* padding: 3em; */
	padding-top: 10px;
	/* gap: 64px; */
	font-family: outfit-variable;
}
.page h2 {
	font-size: 5em;
}
.page h1 {
	margin-bottom: -30px;
	font-family: nohemi-variable;
	font-weight: 900;
	font-size: 11em;
}
.page h3 {
	font-size: 2em;
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
}

.main {
	display: flex;
	flex-direction: column;
	/* gap: 32px; */
}

.main ol {
	font-family: outfit-variable;
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
	list-style-position: inside;
}

.main li:not(:last-of-type) {
	margin-bottom: 8px;
}

.main code {
	font-family: inherit;
	background: var(--gray-alpha-100);
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: 600;
}

.ctas {
	display: flex;
	gap: 16px;
}

.ctas a {
	appearance: none;
	border-radius: 128px;
	height: 48px;
	padding: 0 20px;
	border: none;
	border: 1px solid transparent;
	transition: background 0.2s, color 0.2s, border-color 0.2s, filter 0.2s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}
.ctas_icon {
	width: max-content;
}
.ctas_icon a {
	appearance: none;
	border-radius: 128px;
	height: 48px;
	padding: 0 15px;
	margin: 0;
	border: none;
	border: 1px solid transparent;
	transition: background 0.2s, color 0.2s, border-color 0.2s, filter 0.2s;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}
.page main .ctas a {
	margin-top: 2em;
}
a.nav_icon:hover {
	filter: none;
	background-color: var(--button-primary-hover);
	border-color: transparent;
}

a.primary {
	background: var(--foreground);
	color: var(--background);
}

a.secondary {
	border-color: #999;
}

.footer {
	/* grid-row-start: 3; */
	display: flex;
	gap: 24px;
	align-items: center;
	justify-content: center;
}

.footer a {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer img {
	flex-shrink: 0;
}

#sidebar_burger_button {
	display: none;
}

.sidebar {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	left: 100%;
	z-index: 1000;
	top: 0;
	padding: 0;
	display: flex;
	position: fixed;

	height: 100%;
	background-color: #000;
	max-width: 400px;
	width: 400px;
}

.navbar_container {
	background: linear-gradient(#000, rgba(0, 0, 0, 0));
	position: fixed;
	width: 100%;
	top: 0px;
	display: flex;
	justify-content: center;
	height: 150px;
}
.navbar {
	border-color: linear-gradient(to right, red, orange);
	border-style: none none solid none;
	border-width: 1px;
	position: fixed;
	z-index: 1000;
	top: 0px;
	width: 93%;

	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: space-between;
	align-items: center;

	padding: 25px 32px;
}
#desktop_navbar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	/* padding: 16px 32px; */
}
.navbar ul {
	/* gap: 20px; */
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 16px 32px; */
}
.navbar .icon_tooltip {
	background-color: #f2f2f2;
	color: #1a1a1a;
	border-radius: 1em;
	padding: 5px 1em;
}

/* .navbar li {
	border-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-radius: 2em;
	padding: 0.75em 1.5em;
} */
.navbar a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}

.navbar-buttons {
	border-radius: 1em;
	border-style: solid;
}
#wave_svg {
	background-color: red;
	margin: 0;
	height: 0;
	position: "relative";
	transform: translateX(25%);
}
.about_container {
	max-width: 600px;
	height: 12em;
	overflow: hidden;
}
.about {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	top: -12em;
	offset-anchor: 0%;
}
.about p {
	margin-top: 2em;
}
@media (max-height: 1020px) and (max-width: 1411px) {
	.about {
		display: none;
	}
}
@media (max-height: 850px) and (min-width: 1411px) {
	.about {
		display: none;
	}
}
.video_bg {
	position: absolute;
	object-fit: contain;
	right: 0px;
	top: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
/*HERO SECTION*/
.home_hero {
	padding: 350px 130px 100px 130px;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
}
/*EDUCATION SECTION*/
.home_education {
	background-color: #000;
	background-image: url("../../public/images/utt.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	padding: 130px;
}

/*WEB DEV SECTION*/
.home_webDev {
	background-color: #0a0a0a;
	background-image: url("../../public/images/webdev.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	direction: rtl;
	padding: 130px;
}
.home_gameDev {
	background-color: #000;
	background-image: url("../../public/images/gamedev.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 130px;
}
.home_hobbies {
	background-color: #0a0a0a;
	background-image: url("../../public/images/biplane.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	padding: 130px;
}

.under_construction {
	padding: 130px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	a.nav_icon svg:hover {
		color: var(--button-secondary-hover);
		border-color: transparent;
	}

	a.primary:hover {
		background: var(--button-primary-hover);
		border-color: transparent;
	}

	a.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}

	.footer a:hover {
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}
@media (max-width: 1100px) and (min-width: 820px) {
	#desktop_navbar {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		/* padding: 16px 32px; */
	}
}
@media (min-width: 820px) {
	.sidebar {
		display: none;
	}
}
@media (max-width: 820px) {
	.page h1 {
		font-size: 7em;
	}
	.page h2 {
		font-size: 3em;
	}
	#sidebar_burger_button {
		display: flex;
	}
	.sidebar ul {
		width: 100%;
		list-style-type: none;
		align-items: center;
	}
	.sidebar_ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.sidebar_icon_ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
	}
	.navbar_logo {
		display: flex;
		justify-content: "center";
	}
	.navbar {
		grid-template-columns: 1fr max-content;
	}
	#desktop_navbar {
		display: none;
		justify-content: space-between;
		flex-direction: column;
		/* padding: 16px 32px; */
	}

	/* .page {
		padding: 32px;
		padding-bottom: 80px;
	} */

	.main {
		align-items: center;
	}

	/* .main ol {
		text-align: center;
	} */

	.ctas a {
		font-size: 14px;
		height: 40px;
		padding: 0 16px;
	}

	a.secondary {
		min-width: auto;
	}

	.footer {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

@media (prefers-color-scheme: dark) {
	.logo {
		filter: invert();
	}
}

@font-face {
	font-family: outfit-variable;
	src: url(../fonts/outfit-variable.ttf);
}
@font-face {
	font-family: nohemi-variable;
	src: url(../fonts/nohemi-variable.ttf);
}

@font-face {
	font-family: morganite-regular;
	src: url(../fonts/morganite-regular.ttf);
}
