.education_hero {
	direction: rtl;
	padding: 230px 130px 130px 130px;
}

.education {
	background-color: #000;
	padding: 50px 130px;
}
.education h2 {
	width: 50%;
}
.slider_container {
	width: 93%;
	position: absolute;
	top: 120px;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
.slider {
	position: relative;
	white-space: nowrap;
	display: flex;
}
.slider p {
	margin: 0px;
	color: white;
}
.slider p:nth-of-type(2) {
	position: absolute;
	left: 100%;
}
/* EXPERIENCE */

.experience_hero {
	padding: 230px 130px 130px 130px;
}

/* GAMEDEV */

.gameDev_hero {
	padding: 230px 130px 130px 130px;
}

/* HOBBIES */

.hobbies_hero {
	direction: rtl;
	padding: 230px 130px 130px 130px;
}
@media (max-width: 1100px) {
	.slider_container {
		position: fixed;
		top: 160px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.hobbies_hero {
		padding: 230px 0px 130px 0px;
		justify-content: center;
		direction: unset;
		text-align: center; /* padding: 130px 130px 130px 130px; */
	}
	.gameDev_hero {
		padding: 230px 0px 130px 0px;
		justify-content: center;
		direction: unset;
		text-align: center; /* padding: 130px 130px 130px 130px; */
	}
	.experience_hero {
		padding: 230px 0px 130px 0px;
		justify-content: center;
		direction: unset;
		text-align: center; /* padding: 130px 130px 130px 130px; */
	}
	.education_hero {
		padding: 230px 0px 130px 0px;
		justify-content: center;
		direction: unset;
		text-align: center; /* padding: 130px 130px 130px 130px; */
	}
}
